* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3c76a5;
    color: #dfecf7
}

h1 {
    text-align: center;
    background-color:#185486
}

a {
    color: #80f0f0;
}

a, .ingredients {
    font-style: italic;
}

img {
    display: block;
    margin: 0 auto;
    border: 10px double #83b4db;
}